{% extends "dashboard.html.twig" %}

{% block body %}
    <div class="col-lg-6">
        <h1>Crear asociación</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Crear" />
        {{ form_end(form) }}

        <a href="{{ path('administrador_acudiente-estudiante_index') }}">Volver</a>
    </div>
{% endblock %}
