{% extends 'base.html.twig' %}

{% block body %}
   BIENVENIDOS
   <hr>
   <a href="{{ path('admin-entrada') }}">ADMINISTRADORES</a>  
   <a href="">DOCENTES</a>
   <a href="">ESTUDIANTES</a>
   <a href="">ACUDIENTE</a>

{% endblock %}

