{% extends 'base.html.twig' %}

{% block body %}
   BIENVENIDOS
   <hr>
   <a href="{{ path('admin-entrada') }}">ADMINISTRADORES</a>  
   <a href="{{ path('docente-entrada') }}">DOCENTES</a>
   <a href="{{ path('estudiantes-entrada') }}">ESTUDIANTES</a>
   <a href="">ACUDIENTE</a>

{% endblock %}

