{% extends "base.html.twig" %}

{% block body %}
    <!-- Start: Login --->
     
<div class="container" style="text-align: center;">

    
{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
      <form class="form-signin" action="{{ path('login_estudiantes') }}" method="POST">
        <h2 class="form-signin-heading">ACCESO ESTUDIANTES</h2>
        <label for="inputEmail" class="sr-only">Usuario</label>
        <input type="text" id="username" name="_username" class="form-control" placeholder="Usuario" required autofocus value="{{ last_username }}">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Acceder</button>
      </form>
                    <a  href="{{ path('homepage') }}">Regresar</a>


    </div> <!-- /container -->
<!-- End: Login -->

{% endblock %}